.scroll {
	position: fixed;
	right: 1.3em;
	bottom: 35px;
}
#page-top,
#page-bottom {
	display: block;
	height: 45px;
	width: 45px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	border: 0;
	border-radius: 100%;
	background-color: #fbf2f6;
	text-align: center;
	text-decoration: none;
	color: #333;
}
#page-top:hover,
#page-bottom:hover {
	background-color: #f2e1e5;
	-webkit-transform: translate( 1px, 1px );
	transform: translate( 1px, 1px )
}
#page-top { margin-bottom: 1em }
#page-top .fas,
#page-bottom .fas { line-height: 42.5px; font-size: 140% }