#rlg-body {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: -225px;
	box-shadow: 0 0 7px;
	width: 320px;
	border: solid 2px #c8ccd1;
	border-radius: 3px;
	padding: 5px;
	background-color: rgba(234, 236, 240, .9);
	font-size: smaller;
	color: #222;
	user-select: none;
	transition: visibility .25s, opacity .25s;
}
#rlg-body.rlg-active {
	visibility: visible;
	opacity: 1;
}
#rlg-body label {
	display: block;
	font-weight: bold;
}
#rlg-body input {
	width: calc(100% - 4px);
}
#rlg-body textarea {
	resize: none;
}
#rlg-body hr {
	margin-top: 1em;
	margin-bottom: .75em;
}
.rlg-item-wrapper {
	display: flex;
	position: relative;
	flex-flow: row wrap;
}
.rlg-item {
	flex: auto;
}
.rlg-item:not(:first-child) {
	margin-left: .5em;
}
.rlg-item.revision {
	flex-basis: 50px;
}
.rlg-item.format {
	flex-basis: 205px;
}
.rlg-item.actions-area {
	width: 100%;
	height: 28.5px;
	margin-top: .4em;
}
.rlg-actions {
	position: absolute;
	bottom: 0;
}
.rlg-actions button:not(:first-child) {
	margin-left: .5em;
}
.rlg-small {
	font-size: 90%;
}
#wpSummaryLabel .oo-ui-fieldLayout-field {
	position: relative;
}
.rlg-error {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 1px;
	right: 4px;
	border-radius: 2px;
	padding: 1px 3px;
	background-color: rgba(34, 34, 34, .1);
	font-weight: bold;
	font-size: inherit;
	transition: visibility .75s, opacity .75s;
}
.rlg-error.rlg-active {
	visibility: visible;
	opacity: 1;
}